*{
  box-sizing: border-box;
}
body{
  padding:0px;
  margin:0px;
  background-color: #333;
  color:#fff;
}
header{
  height: 80px;
  display:flex;
  width:100%;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin:2em;
  height: calc(100vh - 80px);
  width:100%;
}

.Vocabulary, .Answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#BBB;
  color:#000;
  min-width: 650px;
  padding:1em;
}

.acard, .vcard{
  padding:1em;
  border:1px solid #000;
  box-shadow: 2px 2px 4px 2px #000;
  min-width:190px;
  text-align: center;
  transition: background-color 0.4s ease;
}

.acard{
  background-color: #9e5a0c;
}

.vcard{
  text-align:center;
  font-size:1.5em;
}

.vcard * {
  pointer-events: none;
}
.vcard.over{
  background-color:#777;
  transition: background-color 0.4s ease;
}

.vcard.correct{
  background-color:#264922;
  transition: background-color 1s ease;
  animation: correct 0.5s ease-in-out;
}

.vcard.incorrect{
  animation: incorrect 0.35s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes incorrect{
  20% {background-color:#CCC;transform: rotate(15deg);}
  50% {background-color:#720308;transform: rotate(0deg);}
  70% {background-color:#b37a00;transform: rotate(-15deg);}
  100% {background-color:#CCC;transform: rotate(0deg);}
}

@keyframes correct{
  20% {transform: translateY(10px);}
  50% {transform: translateY(0px);}
  70% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}
