body {
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-size:100%;
  font-size:1em;
  margin-top:62px;
}

header{
  background-color: #fff;
  box-sizing: border-box;
  top:0px;
  left:0px;
  width:100%;
  position:fixed;
  display:flex;
  box-shadow: 0px 2px 5px #000;
  padding:0.25em;
  align-items: center;
  justify-content: space-between;
  z-index:1000;
}
header h1{
  margin:0px;
  padding:0.5rem 2em;
}
header nav{
  display:flex;
  margin-right: 2rem;
}
header nav ul{
  padding:0px;
  margin:0px;
  list-style: none;
  display:flex;
}
header nav ul li a{
  display: inline-block;
  padding:1em 1.5em;
  text-decoration: none;
  color:#333;
  font-weight: bold;
  background-color: #fff;
  transition: background-color 1s ease;
}
header nav ul li a:hover{
  background-color: #ddd;
  transition: background-color 1s ease;
}

.hero{
  box-sizing: border-box;
  position: relative;
  width:100%;
  height: 400px;
  background-image: url("../imgs/diplomado_m.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:1em;
}

.hero h2{
  margin:0px;
  padding:0px;
  font-size:2em;
  text-shadow: #fff 1px 1px 3px;
}

.hero .btn{
  padding:1em 1em;
  background-color:#266df0;
  border:2px solid #0f357a;
  border-radius:7px;
  text-decoration: none;
  color:#000;
  font-weight: bold;
  margin-top:3em;
}
.hero .placers {
  position: absolute;
  padding-top:4em;
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-around;
  bottom:2em;
}
.hero .placers div {
  border:2px solid #000;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color:#ccc;
}

section.grid{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:#444;
}
section.grid section{
  width:80%;
  margin:0px auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

section.grid section img, section.grid section div{
  display: block;
  box-sizing: border-box;
  width:50%;
}

section.grid section div{
  padding:1em;
  border:1px solid #333;
  background-color: #fff;
}



@media (min-width:480px) {
    section.grid section{
        overflow: hidden;
        width:380px;
        height:380px;
        margin:0px;
        transform: translateY(-1.5rem);
      }

      section.grid section img, section.grid section div{
        display: block;
        box-sizing: border-box;
        width:190px;
        height:190px;

      }
}


section.paralax {
  background-image: url(../imgs/paralax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-width:100vw; /* viewport width */
  min-height: 100vh; /* viewport height*/
  display: flex;
  justify-content: center;
  align-items: center;
}

section.paralax h2{
  font-size:4rem;
  color:#fff;
  padding:1em;
}


section.cards {
  display:flex;
  justify-content: center;
  max-width: 960px;
  margin:1em auto;
  align-items: flex-start;
  flex-wrap: wrap;
  padding:1em;
}

section.cards h2{
  box-sizing: border-box;
  width:100%;
}
section.cards .card{
  display: flex;
  width:300px;
  margin: 1em 0.5em;
  border: #000 solid 0.5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px #000;
  overflow: hidden;
}

section.cards .card img{
  width:200px;
  border-radius: 50%;
  
}
section.cards .card p{
  padding:1em;
  text-align: center;
}

section.cards .card h3{
  margin:0px;
  margin-bottom: 1em;
  box-sizing: border-box;
  padding:1em;
  text-align: center;
  width:100%;
  box-shadow: 0px 0px 5px #000;
}

section.cards .card button{
  border:solid 2px #034110;
  background-color: #0f4d1c;
  font-size: 1rem;
  color:#fff;
  font-weight: bold;
  padding:1em 2em;
  box-sizing: border-box;
  width:100%;
  margin-bottom: 1em;
  box-shadow: 1px 1px 3px #333;
  border-radius: 27px;
  cursor: pointer;
}

section.cards .card button:hover{
  box-shadow: 3px 3px 5px #333;
}
